html.body {
    margin: 0;
    padding: 0;
}

.app {
    background-color: beige;
    height: 100vh;
    padding: 0 2rem;
}

.add-todo-list {
    display: flex;
    gap: 1.5rem;
}

h1 {
    margin: 0;
    font-family: system-ui;
}

.completed {
    text-decoration: line-through;
}

#todo-list {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: center;
    
}

li {
    display: flex;
    align-items: center;
    border-radius: 1px;
    border: 1px solid ;
    padding: 0 2rem;
   
    
}
li button {
    height: 1rem;

}

li input {
    width: 2rem;
}

b {
    flex-grow: 1;
    font-family: system-ui;
    font-size: larger;
    
}

